cycler==0.10.0
decorator==4.4.2
imageio==2.9.0
imgaug==0.4.0
kiwisolver==1.1.0
lxml==4.2.4
matplotlib==3.0.3
networkx==2.4
numpy==1.18.5
opencv-python==4.4.0.42
pandas==0.24.2
Pillow==7.2.0
pkg-resources==0.0.0
pyparsing==2.4.7
PyQt5==5.10.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
scipy==1.4.1
Shapely==1.7.1
sip==4.19.8
six==1.15.0
certifi==2020.6.20
pexpect==4.8.0
ptyprocess==0.6.0
pytesseract==0.3.6
scikit-image==0.17.2
semantic-version==2.8.5
setuptools-rust==0.11.3
tifffile==2020.9.3
toml==0.10.1
